body {
    margin: 10px;

}
.target_A{
    background: #eeac08;
    height: 100px;
    width: 100px;
    overflow: hidden;
    padding: 30px 30px 30px 30px;
    margin: 50px;
    box-shadow: #413f3f 15px 18px 1px 4px;
    border:solid darkgray 2px;
}
.target_B{ background-color: #eeac08;
    height: 100px;
    width: 100px;
    overflow: hidden;
    padding: 30px 30px 30px 30px;
    margin: 50px;
box-shadow: #413f3f 15px 18px 7px 4px;
    border:solid darkgray 2px;
}
.target_C{background-color: #eeac08;
    height: 100px;
    width: 100px;
    overflow: hidden;
    padding: 30px 30px 30px 30px;
    margin: 50px;
box-shadow: #413f3f 18px 18px 5px 4px;
    border:solid darkgray 2px;
}
.target_D{background-color: #eeac08;
    height: 100px;
    width: 100px;
    overflow: hidden;
    padding: 30px 30px 30px 30px;
    margin: 50px;
box-shadow: darkgrey 15px 18px 4px 4px;
    border:solid darkgray 2px;
}
.target_E{background-color: #eeac08;
    height: 100px;
    width: 100px;
    overflow: hidden;
    padding: 30px 30px 30px 30px;
    margin: 50px;
    box-shadow: #413f3f 15px 18px 7px 4px;
    border-radius: 5px;
    border:solid darkgray 2px;
}
.target_F{background-color: #eeac08;
    height: 100px;
    width: 100px;
    overflow: hidden;
    padding: 30px 30px 30px 30px;
    margin: 50px;
box-shadow: darkgrey 15px 18px 7px 4px;
 border-radius: 5px;
    border:solid darkgray 2px;
}

