.product{
   width: 350px;

    background:silver;


}
.product > h3 {
    background-color: #eeac08;
    text-align: center;
}
product > p {
    text-align: justify;
    box-sizing: border-box;
    padding-right: 4px;
}